<nav class="navbar navbar">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/Home']" style="font-size: 10px;">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Menu']" style="font-size: 10px;">Menu</a>
    </li>
    <li class="nav-item">
      <a href="https://www.facebook.com/DetroitJuiceBar/" class="nav-link">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="https://twitter.com/detroitjuicebar" class="nav-link">
        <i class="fab fa-twitter-square fa-lg"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="https://instagram.com/detroitjuicebar" class="nav-link">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
    </li>
  </ul>
</nav> 
<div class="container">
  <router-outlet></router-outlet> 
</div> 
<div class="footer">
    <h6 class="pull-left" style="padding-left: 12px">110 Michigan Ave, Detroit, Mi</h6>
    <h6 class="pull-right" style="padding-right: 12px;">
      <a href="tel:1-313-263-7885">
        <span class="glyphicon glyphicon-phone" aria-hidden="true">
        </span>(313) 263-7885
      </a>
  </h6>
</div>
<div></div>

<style>
  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
  }
  .navbar{
    background-color: black;
  }
</style>