<div class="row">
    <div class="text-center">
        <img class="mx-auto d-block" src="../../../assets/detroitjuicebar_big.jpg" style="width:60%;height:auto;">
    </div>
</div>
<div class="row">
    <div class="text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3376.3668367353102!2d-83.0520285748757!3d42.331806048313425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883b2d305de5570b%3A0x3ba2261e7cc30efe!2s110+Michigan+Ave%2C+Detroit%2C+MI+48226!5e0!3m2!1sen!2sus!4v1555331401757!5m2!1sen!2sus" style="width:90%;height:48%; margin-bottom:72px;" allowfullscreen></iframe>
    </div>
</div>